<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hadiah</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='utama.css') }}">
</head>
<body>
    <div class="container">
        <div class="text">
            <h1>Hallo sayang selamat ya udah menang atas game kemaren</h1>
            <h2>Ini hadiahnya untuk sayangku silahkan ditekan lovenya sayang</h2>
        </div>
        <div class="heart-button">
            <a href="hadiah">❤</a>
        </div>
</body>
</html>